body {
  font-family: Arial, sans-serif;
  max-width: 1024px;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 6px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.big {
  grid-row: span 2 / auto;
  grid-column: span 2 / auto;
}

img.wide {
  grid-column: span 2 / auto;
}

img.bigwide {
  grid-row: span 2 / auto;
  grid-column: span 4 / auto;
}
